<!doctype html>
<html ng-app="myapp">
<head>
    <title>Notes application</title>
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular-resource.js"></script>
    <script src="app.js"></script>
</head>

<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        background-color: beige;
    }
    input {
        width: 150px;
    }

    form {
        border: 1px solid blue;
        border-collapse: collapse;
        padding: 5px;
        background-color: gray;
        height: 350px;;
        width: 150px;
        float:left
    }


</style>

<body ng-controller="UsersController">

     <table>
         <td>Id</td>
         <td>Name</td>
         <td>Age</td>
         <td>Is this admin?</td>
     <tr ng-repeat="item in list.content">
         <td>{{item.id}}</td>
         <td>{{item.name}}</td>
         <td>{{item.age}} </td>
         <td>{{item.admin}}</td>
     </tr>
     </table>

    <br>

     <br>
     <button ng-click="bp(list.number, list.totalPages)">Back</button>
     <button ng-click="newUpdate(list.number, list.totalPages)">Next</button>


     <pre>Page: {{list.number+1}} / {{list.totalPages}}</pre>
     <br>

     </td>
     <br>

<form novalidate>
    Add user: <br>
    Name: <br>
    <input type="text" ng-model="nameAdd"><br>
    Age: <br>
    <input type="text" ng-model="ageAdd"><br>
    IsAdmin:
    <input type="checkbox" ng-model="adminAdd"><br><br>
    <button ng-click="add(list.totalPages, list.numberOfElements, list.size)">Add</button>
</form>

<form novalidate>
    Update user: <br>
    ID<br>
    <input type="text" ng-model="idUpd"><br>
    Name<br>
    <input type="text" ng-model="nameUpd"><br>
    Age<br>
    <input type="text" ng-model="ageUpd"><br>
    IsAdmin:
    <input type="checkbox" ng-model="adminUpd"><br><br>
    <button ng-click="update(id, list.number+1)">Update</button>
</form>
     <form novalidate>
         Find: <br>
         Name: <br>
         <input type="text" ng-model="usernameFind"><br><br>
         <button ng-click="find(usernameFind)">Find</button>
         <button ng-click="resetFindResult()">ResetResults</button>
     </form>
<form novalidate>
    Delete: <br>
    Id: <br>
    <input type="text" ng-model="idDel"><br><br>
    <button ng-click="delete(idDel, list.number+1, list.numberOfElements, list.first)">Delete</button>
</form>
</body>
</html>
